{% extends 'base.html' %}

{% block title %}All Workouts{% endblock %}

{% block content %}

	<style>
		h3 {
			color: #fff;
			text-transform: uppercase;
			font-size: 4em;
			margin-top: 10px;
			display: inline-block;
		}
		.green {
			background-color: #2ecc71;
		}
		.green .record { color: #2ecc71; }
		.green .workout-streak, .green .record-date { /* dark green */ color: #27ae60; }
		.blue { background-color: #3498db; }
		.blue .workout-streak, .blue .record-date { /* dark blue */ color: #2980b9; }
		.blue .record { color: #3498db; }
		.purple {
			background-color: #9b59b6;
		}
		.yellow {
			background-color: #f1c40f;
		}
		.orange {
			background-color: #e67e22;
		}
		.red {
			background-color: #e74c3c;
		}
		.workout {
			font-family: 'Varela Round';
			padding-left: 12px;
			width:		  328px;
			height: 	  340px;
			word-wrap: break-word;
			margin: 0 auto;
			margin-bottom: 60px;
			/* float: left; */
		}
		.workout p.workout-streak {
			line-height: 40px;
		}
		.workout-streak {
			text-transform: uppercase;
			font-size: 1.3em;
		}

		h4 {
		}
		.record {
			width:  100px;
			height: 100px;
			line-height: 100px;
			text-align: center;
			background-color: #fff;
			font-size: 4em;
		}
		.record-date {
			width: 100px;
			text-align: right;
			margin-bottom: 3px;
		}
		.record-container {
			float: left;
		}
		.records-innercontainer {
			width: 200%;
			height: 140px;
		}
		.records-container {
			width: 100%;
			height: 140px;
			overflow-x: hidden;
		}
	</style>

	<div style="height:100px;"></div>

	{% for workout in workouts %}
		<div class="workout {{ workout.color }}">
			<h3>{{ workout.name }}</h3>
			<div style="height:30px;"></div>
			<p class="workout-streak">
				Current Streak: {{ workout.current_streak }} days
				<br/>
				Longest Streak: {{ workout.longest_streak }} days
			</p>

			<div style="height:20px;"></div>

			<div class="records-container">
			<div class="records-innercontainer">
			{% for record in workout.record_set.all %}
				<div class="record-container">
					<p class="record-date">{{ record.clean }}</p>
					<div class="record">
						<h4>{{ record.count }}</h4>
					</div>
				</div>
				<div style="width:30px;height:100px;float:left;"></div>
			{% endfor %}
			<div style="clear:both;"></div>
			</div><!-- /.records-innercontainer -->
			</div><!-- /.records-container -->

		</div>
	{% endfor %}

	<script>
		$(function() {
		});
	</script>

{% endblock %}





